*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --colorfont01:#B52184;
  --colorfont02:#312D64;
  --backgroundcolor01:#F9F4FB;
  --backgroundcolor02:#343193;
}

body{
  font-size: 1.6rem;
}

header{
  height: 67.9rem;
  text-align: center;
  height: 67.9rem;
  background-color: var(--backgroundcolor01);
  
}

#img1 img{

  width: 36.4rem;
  height: 37.0rem;

  margin-bottom: 1.4rem;
  
}

h1{
  color: #B52184;
  font-weight: 900;
  font-size: 3.2rem;

  margin-bottom: .5rem;
}

p{
  font-size: 2.0rem;
  color: #312D64;
  font-weight: 400;
}
#seta{
  margin:3.5rem auto 9.3rem;
  width:5.8rem ;
  height: 10.5rem;
  border-radius:760px;
  border: 4px solid #B52184;
  
}

#seta img{
  
 margin: 2.0rem auto 2.0rem;
  
}

#main{
  display: flex;
  flex-direction: column;

  
  justify-content: space-evenly;
  align-items: center;
  
  

  background-image: linear-gradient(to right,var(--backgroundcolor02), #302C63);
  height: 145.2rem;

 
  
}

.card{
  background-color: var(--backgroundcolor01);
  width: 35.2rem;
  
  
  padding: 0rem 5.9rem 2.6rem 2.6rem;
  border-radius: 1.0rem;

}

.card img{
  width: 8.0rem;
  height: 8.0rem;

  margin: 2.6rem 0rem 2.0rem 0rem;
}

.card h1{
  font-size: 2.9rem;

  margin-bottom: 1.0rem;
}

.card p {
  font-size:1.6rem;
  
}

#form{
 
 
  background-color: var(--backgroundcolor01);
  
  height: 50.5rem;

  padding: 0 4.0rem;
  
}

.input{
  
  position: relative;
  
}

#form h1{
  padding:7.8rem 0px 4.3rem;
}

.input i{
  
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-90%);
  color: #999;
  
}

.input input{
  padding-left: 4.0rem; 
  padding-right: 1.0rem;
  height: 3.5rem;
  border: 1px solid var(--backgroundcolor02);
  border-radius: 1.0rem;
  width: 100%;

  margin-bottom: 2.5rem;


  
  
}

textarea {
  width: 100%;
  height: 11.2rem;
  border-radius: 0.8rem;
  border: 1px solid var(--backgroundcolor02);
  padding: 1.0rem;
}

button{
  margin-top:2.4rem ;
  padding:1.0rem ;
  color: #fff;
  background-image: linear-gradient(to right,var(--backgroundcolor02), #302C63);
  border: none;
  border-radius: 1.5rem;
}

button:hover{
  background-image: linear-gradient(to right,var(--backgroundcolor02), #423d88);
  cursor: pointer;
}



footer{
  color: var(--backgroundcolor01);
  background-image: linear-gradient(to right,var(--backgroundcolor02), #302C63);
  height: 7.9rem;
  text-align: center;
  padding: 3.0rem;

}




@media (min-width:700px){
  header{
    display: flex;
    flex-direction: row-reverse;
    
    height: 62.0rem;

    justify-content: center;
    
  }

  
  
  #img1 img{
    padding-right: 2.0rem;
    width: 50.0rem;
    height: 50.1rem;
    
  }

  #txttop{
    
    max-width: 55.4rem;
    margin-top: 20.2rem;
    
  }

  #txttop h1{
    font-size: 4.5rem;
  }

  #seta{
    position: absolute;
    top:70%;
    
    height:9.5rem ;
    
  }
  #main{
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  height: 57.6rem;

  }
  
  .card{
    width: 36.6rem;
    min-height: 43.2rem;
    
  }

  #form{
   
   width: 50%;
    
  }

  body{
    background-image: url(assets/stars.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: var(--backgroundcolor01);

  }
}

